.calculator{
width:200px;
padding: 5px;
box-shadow: 0px 0px 4px rgba(0,0,0,0.5);
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap:16px;
background-color: #1C1C1C;
}

.OutputScreen{
width: 180px;
text-align: right;
border-bottom: 0.3px solid black;
padding: 5px;
box-shadow: 0px 0px 4px rgba(255,255,255,0.8);
border-radius: 5px;
font-size: 36px;
font-weight: 800;
font-family: 'Courier New', Courier, monospace;
color: #FFFFFF;
}

.buttonContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 buttons per row */
    gap: 10px; /* Space between buttons */
    max-width: 300px; /* Adjust width as needed */
    margin: auto;
}
.Calbtn{
    padding: 10px;
    width: 50px;
    height: 50px;
    gap:20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    font-size: 26px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #505050 ;
    color: #FFFFFF ;
    border: none;
    transition: all 0.3s ease-in-out;

}
.opeerationbtn{background-color: Orange;
color: #000000 ;
transition: all 0.3s ease-in-out;
}
.Calbtn:hover{
    background-color: #FFFFFF;
    color: #505050 ;
}
.opeerationbtn:hover{
    color: Orange;
    background-color: #000000 ;
    border: 1px solid orange;
    }